<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vectis</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='AOC_Obstacle_Tool_Logo.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

{% block body %}

{% block tab %}
{% endblock tab %}

{% endblock body %}

{% block javascript %}
{% endblock javascript%}
</html>